body{
  font-family: Poppins, Inter, Roboto, Arial, Helvetica, Sans-serif;
  background-image: url("img/feature-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  background-color: #095772;
  font-size: 15px;
  font-weight: 300;
}

h1{
  font-weight: 700;
  font-size: 42px;
  font-style: normal;
}
@media screen and (max-width: 500px) {
  h1{
    font-size: 32px;
}
}

h3{
  font-weight: 600;
  font-size: 24px;
  font-style: normal;
}
@media screen and (max-width: 500px) {
  h3{
    font-size: 22px;
}
}

a{
  color: #ffffff;
}
a:hover{
  color: #f8f8f8;
}

.btn{
  font-size: small;
}


/* header */
header{
  padding: 50px 0 50px;
}

header h1{ 
  text-align: center;
  margin-bottom: 50px;
}

/* section */
section{
  padding: 10px;
}
.fab{
  font-size: 28px;
  padding: 10px;
}
section .fac:hover{
  color: #f8f8f8;
}

/* footer section */
footer{
  padding-bottom: 10px;
}